.total-profile-page {
  position: relative;
  max-width: 100vw;
}
.profile-page {
  display: flex;
  justify-content: center;
}
.profile-inner {
  width: 598px;
}

@media only screen and (max-width: 600px) {
  .profile-inner {
    width: 400px;
  }
}