.main-nav-container {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 15px;
}
.main-nav i { 
  margin-bottom: 25px;
  font-size: 35px;
  cursor: pointer;
}
.orange-hover {
  color: orange;
}
.orange-hover:hover {
  color: rgb(236, 154, 0);
}
