.profile-top-container {
  height: 253px;
}
.profile-top {
  display: flex;
  align-items: center;
  height: 53px;
  width: 100%;
}
.profile-top p {
  color: gray;
  margin-bottom: 0;
  margin-top: 0px;
  font-size: 14px;
}
.profile-top h3 {
  margin: 0;
}
 .profile-banner {
  width: 598px;
  height: 200px;
  cursor: pointer;
}
.profile-top button {
  border-radius: 100%;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.profile-top button:hover {
  background: rgb(175, 175, 175);
}
.top-button-container {
  width: 56px;
  height: 100%;
  display: flex;
  align-items: center;
}