.sign-out-container {
  width: 300px;
  max-height: 320px;
  padding: 32px;
  background: white;
  border-radius: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
.sign-out-container button {
  min-height: 44px;
  margin-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}
.prompt-log-out-button {
  background: rgb(244, 33, 46);
  color: white;
  border: none;
}
.prompt-log-out-button:hover {
  background: rgb(204, 0, 14);

}
